In [55]:
import pandas as pd

In [56]:
pd.__version__

'2.2.3'

In [57]:
dict_medidas = {'idade': [15, 18, 25, 25, 30, 30, 30, 50, 55, 60, 65, 70], 'altura': [160, 162, 164, 164, 164, 166, 166, 167, 167, 169, 169, 170]}

In [58]:
dict_medidas

{'idade': [15, 18, 25, 25, 30, 30, 30, 50, 55, 60, 65, 70],
 'altura': [160, 162, 164, 164, 164, 166, 166, 167, 167, 169, 169, 170]}

In [59]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [60]:
df_medidas

    idade  altura
0      15     160
1      18     162
2      25     164
3      25     164
4      30     164
5      30     166
6      30     166
7      50     167
8      55     167
9      60     169
10     65     169
11     70     170

## Medidas Resumo

### Medidas de posição

In [61]:
# media
df_medidas["idade"].mean()

np.float64(39.416666666666664)

In [62]:
# Mediana
df_medidas["idade"].median()

np.float64(30.0)

In [63]:
# Moda
df_medidas["idade"].mode()

0    30
Name: idade, dtype: int64

In [64]:
# Moda altura
df_medidas["altura"].mode()

0    164
Name: altura, dtype: int64

### Medidas de Dispersão

In [65]:
# variancia
df_medidas.idade.var()

np.float64(373.17424242424244)

In [66]:
# desvio padrão
# metodo 1:
df_medidas.idade.std() # -> std = standard variation

np.float64(19.317718354511808)

In [67]:
# coeficiente de variação - idade
df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(49.00901062455427)

In [68]:
# coeficiente de variação - altura
df_medidas.altura.std() / df_medidas.altura.mean() * 100

np.float64(1.8078140260626798)

### Medidas de forma

In [ ]:
# assimetria - idade
# > 0 -> assimetria positiva
df_medidas.idade.skew()

np.float64(0.395920857847072)

In [71]:
# assimetria - altura
# < 0 -> assimetria negativa
df_medidas.altura.skew()

np.float64(-0.34472497855597317)

In [ ]:
# Curtose - idade
# < 0 -> curtose negativa
df_medidas.idade.kurtosis()

np.float64(-1.509969649348681)

In [76]:
# Curtose - altura
# < 0 -> curtose negativa
df_medidas.altura.kurtosis()

np.float64(-0.4278670562454412)

In [ ]:
# Obter medidas estatisticas - idade
df_medidas.idade.describe()

count    12.000000
mean     39.416667
std      19.317718
min      15.000000
25%      25.000000
50%      30.000000
75%      56.250000
max      70.000000
Name: idade, dtype: float64

In [79]:
# Obter medidas estatisticas - altura
df_medidas.altura.describe()

count     12.000000
mean     165.666667
std        2.994945
min      160.000000
25%      164.000000
50%      166.000000
75%      167.500000
max      170.000000
Name: altura, dtype: float64