In [20]:
import pandas as pd

In [21]:
pd.__version__

'2.2.3'

In [22]:
dict_medidas = {'idade': [15, 18, 25, 25, 30, 30, 30, 50, 55, 60, 65, 70], 'altura': [160, 162, 164, 164, 164, 170, 172, 174, 176, 178, 180, 182]}

In [23]:
dict_medidas

{'idade': [15, 18, 25, 25, 30, 30, 30, 50, 55, 60, 65, 70],
 'altura': [160, 162, 164, 164, 164, 170, 172, 174, 176, 178, 180, 182]}

In [24]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [25]:
df_medidas

    idade  altura
0      15     160
1      18     162
2      25     164
3      25     164
4      30     164
5      30     170
6      30     172
7      50     174
8      55     176
9      60     178
10     65     180
11     70     182

## Medidas Resumo

### Medidas de posição

In [26]:
# media
df_medidas["idade"].mean()

np.float64(39.416666666666664)

In [27]:
# Mediana
df_medidas["idade"].median()

np.float64(30.0)

In [28]:
# Moda
df_medidas["idade"].mode()

0    30
Name: idade, dtype: int64

In [29]:
# Moda altura
df_medidas["altura"].mode()

0    164
Name: altura, dtype: int64

### Medidas de Dispersão

In [46]:
# variancia
df_medidas.idade.var()

np.float64(373.17424242424244)

In [48]:
# desvio padrão
# metodo 1:
df_medidas.idade.std() # -> std = standard variation

np.float64(19.317718354511808)

In [50]:
# coeficiente de variação - idade
df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(49.00901062455427)

In [51]:
# coeficiente de variação - altura
df_medidas.altura.std() / df_medidas.altura.mean() * 100

np.float64(4.449191809927678)